<%= provide(:page_header, @room.name) %>
<%= provide(:subtext, @room.description) %>

<p class="text-left">
  <%= link_to "New Post", new_post_path(:room_id => @room.id), class: "btn btn-default" %>
  <%= link_to "Edit Room", edit_room_path, class: "btn btn-default" %>
</p>

<% if flash[:notice] %>
<div class="alert alert-success" <%= flash[:notice] %> role="alert"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover">
  <tr>
    <td>Score</td>
    <td>Vote</td>
    <td>Post</td>
    <td>User</td>
    <td>Added</td>
    <td>Total Messages</td>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.sum %></td>
    <td>
      <div class="vote-box" data-post-value="<%= post.id %>">
        <a href="#" data-vote-value="1" class="btn btn-default fa fa-thumbs-o-up fa-lg btn-upvote"></a>
        <a href="#" data-vote-value="-1" class="btn btn-default fa fa-thumbs-o-down fa-lg btn-downvote"></a>
      </div>
    </td>
    <td><%= link_to post.title, post_path(post) %></td>
    <td><%= link_to post.user.email, user_path(post.user) %></td>
    <td><%= post.created_at %></td>
    <td><%= post.comments.count %></td>
  </tr>
  <% end %>

</table>
