<%= provide(:page_header, @room.name) %>
<%= provide(:subtext, @room.description) %>

<p class="text-left">
  <%= link_to "New Post", new_post_path(:room_id => @room.id), class: "btn btn-default" %>
  <%= link_to "Edit Room", edit_room_path, class: "btn btn-default" %>
</p>

<% if flash[:notice] %>
<div class="alert alert-success" <%= flash[:notice] %> role="alert"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover posts-table">
  <tr>
    <th>Score</th>
    <th>Vote</th>
    <th>Post</th>
    <th>User</th>
    <th>Added</th>
    <th>Total Messages</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= post.sum %></td>
    <td>
      <% current_vote = @votes[post.id] %>
      <div
         class="vote-box"
         data-post-value="<%= post.id %>"
         data-static-vote-value="<%= @votes[post.id] ? current_vote : 0 %>"
         >
        <a href="#" data-vote-value="1" class="btn btn-default fa fa-thumbs-o-up fa-lg btn-upvote"></a>
        <a href="#" data-vote-value="-1" class="btn btn-default fa fa-thumbs-o-down fa-lg btn-downvote"></a>
      </div>
    </td>
    <td>
    <%= link_to "", votes_path(:value => 1, :post_id => post.id), method: "post", class: "btn btn-default fa fa-thumbs-o-up fa-lg" %>
    <%= link_to "", votes_path(:value => -1, :post_id => post.id), method: "post", class: "btn btn-default fa fa-thumbs-o-down fa-lg" %>
    </td>
    <td><%= link_to post.title, post_path(post) %></td>
    <td><%= link_to post.user.email, user_path(post.user) %></td>
    <td><%= post.created_at %></td>
    <td><%= post.comments.count %></td>
  </tr>
  <% end %>

</table>
