<%= provide(:page_header, @room.name) %>
<%= provide(:subtext, @room.description) %>

<p class="text-left">
  <%= link_to "New Post", new_post_url(:room_id => @room.id), class: "btn btn-default" %>
  <%= link_to "Edit Room", edit_room_url, class: "btn btn-default" %>
</p>



<% if flash[:notice] %>
<div class="alert alert-success" <%= flash[:notice] %> role="alert"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover">
<tr>
  <td>Post</td>
  <td>User</td>
  <td>Added</td>
  <td>Total Messages</td>
</tr>

<% @posts.each do |post| %>
<tr>
  <td><%= link_to post.title, post_url(post) %></td>
  <td><%= link_to post.user.email, user_url(post.user) %></td>
  <td><%= post.created_at %></td>
  <td><%= post.messages.count %></td>
</tr>
<% end %>

</table>
