<%= render "post_header" %>
<h1>Edit Post</h1>

<%= render "shared/flash" %>

<%= form_for @post, url: {action: "update"}, html: {class: "form-group"} do |f| %>
    Title:      <%= f.text_field    :title,     { class: "form-control" }  %>
    Content:    <%= f.text_area     :content,   { class: "form-control" } %>
                <%= f.submit        "Submit",   { class: "btn btn-primary" } %>
<% end %>
