<%= provide(:page_header, @post.room.name) %>
<%= provide(:subtext, @post.room.description) %>
<%= provide(:room_link, room_path(@post.room) ) %>

<h3>&ldquo;<%= @post.content %>&rdquo;</h3>

<p class="text-left">
  <% if policy(@post).is_owner? %>

  <%= link_to "Edit Post", edit_post_path(:room_id => @post.room.id), class: "btn btn-default" %>
  <%= link_to "Delete Post", post_path(:room_id => @post.room.id), method: :delete, class: "btn btn-default" %>
  <% end %>
</p>

<%= render "shared/flash" %>

<div class="form-group">
  <%= form_tag(post_comments_path(@post.id), method: "post") do %>
    <%= hidden_field(:comment, :commentable_id, value: @post.id) %>
    <%= hidden_field(:comment, :commentable_type, value: 'Post') %>
    <%= label_tag(:comment, "Add a comment:") %>
    <%= text_area(:comment, :content, rows: 3, class: "form-control") %>
    <%= submit_tag("Submit", class: "btn btn-primary") %>
  <% end %>
</div>

<h2>Comments</h2>

<div class="container-fluid">

<%
    if ! @comments.empty?
    c_count = 0
    @comments.each do |comment|
      c_count += 1
      sc_count = 0
      process_commentable(comment).each do |subcomment|
      sc_count += 1
%>

<%  1.upto(subcomment[0]) do |divc| %>
<div class="<%= "comment-container-" + "#{divc}" %>">
  <% end %>


<div
   id="<%= "data-comment-#{c_count}-#{sc_count}" %>"
   class="<%= "subcomment-" + "#{subcomment[0]}" %>"
   >
  <%= subcomment[1].content %><br>
  <%= link_to( subcomment[1].user.username, user_path( subcomment[1].user.id ) ) %>
  <%= subcomment[1].created_at %>
</div>

<% subcomment[0].times do %>
</div>
<% end %>


<%
      end
    end
%>

<% else %>
<p>No replies yet.</p>
<% end %>

</div>
