<%= provide(:page_header, @post.room.name) %>
<%= provide(:subtext, @post.room.description) %>

<h3>&ldquo;<%= @post.content %>&rdquo;</h3>
<table class="table table-hover">

  <tr>
    <td>user</td>
    <td>content</td>
    <td>created_at</td>
  </tr>

  <% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.user.email, message.user %></td>
    <td><%= message.content %></td>
    <td><%= message.created_at.to_date %></td>
  </tr>
  <% end %>

</table>
