<%= provide(:page_header, @post.room.name) %>
<%= provide(:subtext, @post.room.description) %>

<h3>&ldquo;<%= @post.content %>&rdquo;</h3>
<table class="table table-hover">

  <p class="text-left">
    <%= link_to "Edit Post", edit_post_path(:room_id => @post.room.id), class: "btn btn-default" %>
    <%= link_to "Delete Post", post_path(:room_id => @post.room.id), method: :delete, class: "btn btn-default" %>
</p>


  <% if ! @messages.empty? %>

    <tr>
      <td>user</td>
      <td>content</td>
      <td>created at</td>
    </tr>

  <% @messages.each do |message| %>
  <tr>
    <td><%= link_to message.user.email, message.user %></td>
    <td><%= message.content %></td>
    <td><%= message.created_at.to_date %></td>
  </tr>
  <% end %>

  <% else %>
    <p>No replies yet.</p>
  <% end %>



</table>
