<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <nav class="nav">
            <ul class="nav nav-tabs">
              <li> <%= link_to 'Home', rooms_path %> </li>
              <% if user_signed_in? %>
              <li><%= link_to "Account Settings", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </nav>
          <div class="header_background page-header">
            <h1><%= yield(:page_header) %>
              <br>
              <small> <%= yield(:subtext) %></small>
            </h1>
          </div>
          <%= yield %>
        </div><!-- col-8 -->
        <!-- col-4 -->

      </div><!-- row -->
    <footer>
       <% if Rails.env.development? %>
          <p><%= params[:controller] %>#<%= params[:action] %></p>
          <p>Time: <%= Time.now %></p>
       <% end %>
    </footer>
    </div><!-- container -->
</body>
</html>
